.hidden {
	display: none;
	visibility: hidden;
}



@media screen and (max-width: $mobile) {
	.only-mobile {
		display: inline-block;
	}

	.only-desktop {
		display: none;
	}
}

@media screen and (min-width: $mobile) {
	.only-mobile {
		display: none;
	}
}

@media screen and (min-width: $tablet) {
	.only-desktop {
		display: block;
	}
}