body {
	background: #f7f7f7;
}


.full-width {
	float: left;
	width: 100%;

	&.black {
		background-color: $black;
		color: $white;
	}

	&.blue {
		background-color: $brand-colour;
		color: $white;
	}

	&.off-green {
		background-color: $mutedGreen;
		border-bottom: 1px solid rgba($green, 0.25);
	}

	&.subdued {
		background-color: #F2F3F4;
		border-top: 1px solid #DEE4E8;
		border-bottom: 1px solid #DEE4E8;
	}

	&.red {
		background-color: #CE4946;
	}

}

.padded {
	padding: $unit*4 0;

	&.thin {
		padding: $unit 0;
	}

}

.wrapper {
	max-width: 1140px;

	margin: 0 auto;
	padding: 0 1em;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.shade {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;


	background: #000;
	opacity: 0.25;

	&.hide {
		display: none;
		opacity: 0;
	}

}

@media screen and (min-width: $tablet) {

	.padded {

		&.fat {
			padding: $unit*8 0;
		}
	}
}