html {
	font-size: $rem*0.8;
}

body {
	font: 400 1.6rem/1.5 sans-serif;
	color: $black;
};

@media screen and (min-width: $mobile) {
	html {
		font-size: $rem;
	}

	body {
		font-family: 'Roboto', sans-serif;
		color: $black;
	};
}



a,
a:link,
a:visited {
	color: inherit;
	text-decoration: none;
}


a:hover,
a:active,
a:focus {
	text-decoration: underline;
}

abbr {

	&[title] {
		border: none;
	}

	&:after {
		content: ' ('attr(title)')';
	}
}

p {
	text-wrap: balanced;
}

.site-title {
	display: inline-block;
	width: 100%;
	margin: 0;
	font-size: 24px;
	font-weight: 400;
	line-height: 50px;
	text-align: center;
	text-transform: capitalize;
	color: $brand-colour;
}

@media screen and (min-width: $mobile) {

	abbr {
		&[title] {
			border-bottom: 1px dotted;
		}

		&:after {
			content: '';
		}
	}

	.site-title {
		position: relative;
		float: left;
		width: auto;
		margin: 0 0 0 $unit+36px;
	}

}

.hero-title {
	width: 100%;
	margin: 0 0 3.2rem 0;
	text-align: center;
	font-size: 4.2rem;
	font-weight: 100;

}

.hero-sub-title {
	max-width: 33em;
	margin: 0 auto;
	font-size: 1.15em;
	font-weight: 300;
	text-align: center;
	opacity: 0.85;
}

.feature-title {
	position: relative;
	margin: 0;
	padding: $unit*4 0 0;
	text-transform: capitalize;
	text-align: center;
}