$white: #FFFFFF;
$offWhite: #F7F7F7;
$black: #2F323A;
$muted: #999999;
$green: #00A253;
$mutedGreen: #EAF3EF;
$red: #AE3B3C;
$brand-colour: #003A60;

$rem: 10px;
$unit: $rem*1.6;
$touchTarget: $rem*3.6;

// break points

$mobile: 768px;
$tablet: 960px;
$desktop: 1140px;
//$tabletWidth:

