.navigation-link {
	position: absolute;
	right: 0.5em;
	z-index: 1001;

	width: 50px;
	height: 50px;

	background: url('../images/iconmonstr-menu-icon-64.png');
	background-image: url('../images/iconmonstr-menu-icon.svg');
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: center;
}

.navigation {
	$navElementHeight: 50px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;

	background: $black;

	-webkit-transform: translate3d(0, $navElementHeight*-5, 0);
	-moz-transform: translate3d(0, $navElementHeight*-5, 0);
	-ms-transform: translate3d(0, $navElementHeight*-5, 0);
	-o-transform: translate3d(0, $navElementHeight*-5, 0);
	transform: translate3d(0, $navElementHeight*-5, 0);

	-webkit-transition: 0.25s transform ease-out;
	-moz-transition: 0.25s transform ease-out;
	-ms-transition: 0.25s transform ease-out;
	-o-transition: 0.25s transform ease-out;
	transition: 0.25s transform ease-out;

	&.open {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			float: left;
			width: 100%;
			margin: 0;

			a {
				display: block;
				line-height: 50px;
				text-align: center;
				text-transform: capitalize;
			}
		}
	}
}


@media screen and (min-width: $tablet) {

	.navigation {
		position: static;
		float: right;
		width: auto;

		background: none;

		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);


		ul {
			li {
				width: auto;
				margin: 0 0 0 1.5em;

				a {
					display: inline;
				}
			}
		}
	}
}
